<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDir" value="C:/logs/RabbitMQService/${date:format=yyyy-MM-dd}" />
  <variable name="commonLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}) [${threadId}]: ${message}" />
  <variable name="detailedLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}) [${threadId}]: ${message}. ${exception:format=ToString}" />
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File"
            name="errorLog"
            fileName="${logDir}/error.log"
            layout="${detailedLayout}"/>

    <target xsi:type="File"
            name="fullLog"
            fileName="${logDir}/full.log"
            layout="${commonLayout}"/>
    <!-- add your targets here -->
    
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="errorLog" />
    <logger name="*" minlevel="Info" writeTo="fullLog" />
  </rules>
</nlog>